<%- include('partials/header') -%>


<div class="hero min-h-screen bg-base-200">
    <div class="hero-content text-center">
        <div class="max-w-md">
            <h1 class="text-5xl font-bold py-4">Frequently Asked Questions</h1>
                <ul class="justify-start">
                    <li class="py-4 class="justify-start"">
                        <p class="font-bold text-xl">What can this website do for me?</p>
                        <p class="">On this website, you can currently:</p>
                        <ul class="justify-start list-disc text-left">
                            <li class="justify-self-start text-left">Create an account</li>
                            <li class="justify-self-start text-left">Create Surveys</li>
                            <li class="justify-self-start text-left">Browse all created public surveys</li>
                            <li class="justify-self-start text-left">Participate in surveys</li>
                            <li class="justify-self-start text-left">See statistics on each answer in a survey</li>
                            <li class="justify-self-start text-left">Delete your own surveys</li>
                            <li class="justify-self-start text-left">Like surveys so that they will be seen by more people</li>
                            <li>Public/Private designation for surveys</li>
                        </ul>
                    </li>
                    <li class="py-4">
                        <p class="font-bold text-xl">What features are currently in the works?</p>
                        <p>Planned features currently include:</p>
                        <ul class="justify-start list-disc text-left">
                            <li>React Integration</li>
                            <li>Different types of questions</li>
                            <li>Google Authentication</li>
                            <li>Better overall design</li>
                            <li>Extra profile features such as profile pictures</li>
                        </ul>
                    </li>
                    <li class="py-4">
                        <p class="font-bold text-xl">I need help using the site!</p>
                        <p>Please contact me through one of the methods in the footer for help, preferably through twitter.</p>
                    </li>
                    
                </ul>            
                <button class="btn btn-primary my-8">Get Started</button>
        </div>
    </div>
</div>



<%- include('partials/footer') -%>