<%- include('partials/header') -%>

<main class="container">
  <div class="hero min-h-screen bg-base-200 w-screen">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <div class="text-center lg:text-left">
        <h1 class="text-5xl font-bold">Login now!</h1>
        <p class="py-6"> If you do not already have an account, please <a class="link"href="/signup">Signup</a> instead.</p>
      </div>
      <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
        <div class="card-body">
          <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
              <div class="alert alert-danger"><%= el.msg %></div>
                <% }) %> <% } %> <% if (locals.messages.info) { %> <%
                  messages.info.forEach( el => { %>
              <div class="alert alert-info"><%= el.msg %></div>
            <% }) %> <% } %>
          <form action="/login" method="POST">
          <div class="form-control">
          
            <label class="label" for="exampleInputEmail1">
              <span class="label-text">Email</span>
            </label>
            <input type="email" placeholder="email" class="form-control input input-bordered" id="exampleInputEmail1" aria-describedby="emailHelp" name="email"/>
          </div>
          <div class="form-control">
            <label for="exampleInputPassword1" class="label">
              <span class="label-text">Password</span>
            </label>
            <input type="password" placeholder="password" class="form-control input input-bordered" id="exampleInputPassword1" name="password"/>
            
          </div>
          <div class="form-control mt-6">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include('partials/footer') -%>
